[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"
ipython = "*"
