[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
django = "*"
django-extensions = "*"
django-filter = "*"
django-rest-framework-proxy = "*"
djangorestframework = "*"
google-cloud-pubsub = "*"
gunicorn = "*"
ludoj-recommender = {editable = true, git = "https://gitlab.com/mshepherd/ludoj-recommender.git"}
markdown = "*"
python-dateutil = "*"
whitenoise = {extras = ["brotli"], version = "*"}

[dev-packages]
ipython = "*"
lxml = "*"
mypy = "*"
pylint = "*"
pynt = "*"
pytest = "*"
python-dotenv = "*"
rcssmin = "*"
requests = "*"
rjsmin = "*"
