[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
ludoj-recommender = {editable = true, git = "https://gitlab.com/mshepherd/ludoj-recommender.git"}
gunicorn = "*"
whitenoise = {extras = ["brotli"], version = "*"}

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"
ipython = "*"
python-dotenv = "*"
css-html-js-minify = "*"
