<!DOCTYPE html>
<article xmlns="http://www.w3.org/1999/xhtml"
		id="ludoj-about">
	<section>
		<h1>About <span class="recommend-games">Recommend.Games</span></h1>
		<p class="lead">
			<strong class="recommend-games">Recommend.Games</strong> strives to recommend the best board games for you.
			We take the user ratings from <a href="https://boardgamegeek.com/" target="_blank">BoardGameGeek <i class="fas fa-external-link-alt"></i></a>, apply some black magic, and present recommendations that suit you.
		</p>
		<p>
			BoardGameGeek (BGG) users can rate each game with a score between 1 (<em>awful – defies game description</em>) and 10 (<em>outstanding – will always enjoy playing</em>).
			These ratings are then used to rank games on the site. But you cannot just use the average score for the ranking, else games with few ratings would shoot to the top, even if a minimum number of votes is required.
			<span ng-if="topAvg">(At the moment, the game with the highest average rating and at least 100 votes is <em><a ng-href="/#/game/{{ topAvg.bgg_id }}">{{ topAvg.name }}</a></em>.)</span>
			Instead, BGG uses a weighted average by adding a number of "dummy" votes to each game. The effect is that a game's rating is drawn towards the overall average rating across all games on BGG, but as more and more users vote, this "Geek Rating" will get closer to the actual average.
			<span ng-if="topBayes">Currently, the highest ranked game according to BoardGameGeek is <em><a ng-href="/#/game/{{ topBayes.bgg_id }}">{{ topBayes.name }}</a></em>.</span>
			Read more about the ratings on the <a href="https://boardgamegeek.com/wiki/page/ratings" target="_blank">BGG Wiki <i class="fas fa-external-link-alt"></i></a>.
		</p>
		<p>
			<strong><em>We don't believe this yields a very good overview over the best games today.</em></strong>
		</p>
		<p>
			Obviously, this is a matter of opinion, but it's hard to deny that many games from <a href="/#/?ordering=bgg">BGG's Top 100</a> are rather special interest products.
			No doubt, they are perfectly executed if you are a fan of a particular theme, genre, or mechanic, but it's unlikely a random person would really enjoy games like <em><a href="/#/game/12333">Twilight Struggle</a></em> or <em><a href="/#/game/187645">Star Wars: Rebellion</a></em>.
		</p>
		<p>
			<span class="recommend-games">Recommend.Games</span> takes a different approach. Instead of just calculating averages, we are trying to find good recommendations for users based on their BoardGameGeek ratings.
			Recommender engines using collaborative filtering have been a hot topic for some time and <a href="https://apple.github.io/turicreate/docs/userguide/recommender/" target="_blank">Turi Create <i class="fas fa-external-link-alt"></i></a> provides an excellent open source implementation.
		</p>
		<p>
			The main objective of a recommender system is to predict what items a user might like given their preference for other items. We can absolutely do that – see for example recommended games for <a href="/#/?for=Phelddagrif&amp;excludeOwned=false">Richard Garfield</a>.
			But we can also find recommendations for user we don't know anything about at all – recommendations for the random person on the street. The result is the <a href="/#/">default ranking</a> on the main page.
		</p>
		<p>
			<strong><em>Call us biased – but we believe this is a much better selection for anyone to (seriously) get into boardgaming today.</em></strong>
		</p>
	</section>

	<section>
		<h2>Software</h2>
		<p>
			The source code for the <a href="https://gitlab.com/mshepherd/ludoj-server" target="_blank">server <i class="fas fa-external-link-alt"></i></a> and the <a href="https://gitlab.com/mshepherd/ludoj-recommender" target="_blank">recommender <i class="fas fa-external-link-alt"></i></a> are available on GitLab.
			This project is in its infancy and needs your help to improve and grow, so we encourage you to fork the repositories, send us your merge requests, and help more people find great games!
		</p>
	</section>

	<section>
		<h2>Attribution</h2>
		<p>
			All data have been scraped from BoardGameGeek via their <a href="https://boardgamegeek.com/wiki/page/BGG_XML_API2" target="_blank">XML API <i class="fas fa-external-link-alt"></i></a> which permits reproducing and displaying the data for non-commercial purposes.
			Text available through the BGG XML API with the source designated as Wikipedia is available under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike <i class="fas fa-external-link-alt"></i></a>.
		</p>
		<p>
			Meeple and dice icons made by <a href="http://delapouite.com" target="_blank">Delapouite <i class="fas fa-external-link-alt"></i></a>, available on <a href="https://game-icons.net" target="_blank">https://game-icons.net <i class="fas fa-external-link-alt"></i></a>.
		</p>
		<p>
			All other icons are by <a href="https://fontawesome.com/icons" target="_blank">Font Awesome <i class="fas fa-external-link-alt"></i></a> and used under their <a href="https://fontawesome.com/license/free" target="_blank">free license <i class="fas fa-external-link-alt"></i></a>.
		</p>
	</section>

	<section class="clearfix">
		<h2>Author</h2>
		<img src="/assets/markus.jpeg"
			class="img-fluid img-person float-left mr-3 mb-3"
			alt="Markus Shepherd"
			title="Markus Shepherd" />
		<p>
			<a href="http://www.riemannhypothesis.info/about-me/" target="_blank">Markus Shepherd <i class="fas fa-external-link-alt"></i></a> is a mathematician turned AI developer and board game enthusiast from Germany living in Finland.
			His wife couldn't prevent him from naming their cat Euler, so that's probably all you need to know.
		</p>
		<p>
			There's a bunch of social links at the bottom of every page, so feel free to get in touch any way you prefer!
		</p>
	</section>
</article>
