<!DOCTYPE html>
<section xmlns="http://www.w3.org/1999/xhtml"
		id="games-list">
	<h1>Board Game Atlas recommendations</h1>

	<form ng-submit="updateParams()"
			id="fetch-game-form"
			name="fetch-game-form"
			novalidate="novalidate"
			role="form"
			aria-labelledby="bgg-tab"
			class="form mb-3">
		<label for="user"
				id="bgg-user-label"
				class="{{ user ? 'text-success' : 'text-muted' }} mb-0">
			Personal recommendations for:
		</label>
		<div class="input-group">
			<input type="search"
				id="user"
				name="user"
				ng-model="user"
				ng-required="true"
				class="form-control"
				placeholder="Board Game Atlas user name"
				aria-describedby="bgg-user-label" />
			<div class="input-group-append">
				<button type="button"
						ng-disabled="!user"
						ng-click="clearField('user')"
						class="btn btn-outline-secondary">
					<i class="fas fa-times"></i>
				</button>
				<button type="submit"
						ng-disabled="!user"
						class="btn btn-primary">
					<i class="fas fa-dice"></i>
				</button>
			</div>
		</div>
		<div class="{{ user ? 'form-exclude-enabled' : 'form-exclude-disabled text-muted' }}">
			Use recommender model:
			<div class="form-check form-check-inline mr-0"
					data-toggle="tooltip"
					data-placement="bottom"
					title="Use the default or similarity based model for recommendations">
				<label class="form-check-label form-label-exclude {{ user &amp;&amp; !similarity ? 'text-success' : 'text-muted' }} mr-1"
						for="recommender-similarity">
					default
				</label>
				<label class="switch mb-0">
					<input type="checkbox"
						id="recommender-similarity"
						name="recommender-similarity"
						ng-model="similarity"
						ng-disabled="!user" />
					<span class="slider bg-secondary"></span>
				</label>
				<label class="form-check-label form-label-exclude {{ user &amp;&amp; similarity ? 'text-success' : 'text-muted' }} ml-1"
						for="recommender-similarity">
					similarity
				</label>
			</div>
			<a href="/#/faq#what-are-the-standard-and-similarity-models-in-the-recommendation-settings"
					data-toggle="tooltip"
					data-placement="right"
					title="Read more about the different models"
					class="text-muted">
				<i class="fas fa-info-circle"></i>
			</a>
		</div>
	</form>

	<h2 ng-if="currUser">
		Recommended games for
		<span ng-repeat="cUser in currUser track by $index">
			<strong>
				<a ng-href="https://www.boardgameatlas.com/u/{{ cUser }}"
					target="_blank">{{ cUser }} <i class="fas fa-external-link-alt"></i></a>
			</strong>
			<span ng-if="!$last">, </span>
		</span>
	</h2>

	<div ng-if="empty"
			class="alert alert-warning"
			role="alert">
		<h4 class="alert-heading">No games found</h4>
		<p class="mb-0">
			No games could be loaded.
		</p>
	</div>

	<div class="row">
		<a ng-repeat="game in games"
			game-square=""
			game="game"
			show-ranking="true"
			hide-score="hideScore"
			ng-href="https://www.boardgameatlas.com/search/game/{{ game.bga_id }}"
			target="_blank"
			class="col-lg-3 col-md-4 col-sm-6"></a>
		<div ng-if="nextPage"
				ng-click="fetchGames(nextPage)"
				class="col-lg-3 col-md-4 col-sm-6">
			<div class="game game-more">
				<div>
					<h2 class="game-title">
						More...
						<small ng-if="total"
								class="text-secondary">
							({{ total }} games in total)
						</small>
					</h2>
				</div>
			</div>
		</div>
	</div>

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"url": "https://recommend.games/",
			"potentialAction": [{
				"@type": "SearchAction",
				"target": "https://recommend.games/#/?search={search_term_string}",
				"query-input": "required name=search_term_string"
			}]
		}
	</script>
</section>
