<!DOCTYPE html>
<section xmlns="http://www.w3.org/1999/xhtml">
	<h1>
		<span ng-if="game.name_short"
				data-toggle="tooltip"
				title="{{ game.name }}">
			{{ game.name_short }}
		</span>
		<span ng-if="!game.name_short">{{ game.name }}</span>
		<small ng-if="game.year || game.designer_display"
				class="text-secondary">
			<span ng-if="game.designer_display">by {{ game.designer_display }}</span>
			<span ng-if="game.year">({{ game.year }})</span>
		</small>
	</h1>
	<p>
		View on <a ng-href="{{ game.url }}" target="_blank">BoardGameGeek <i class="fas fa-external-link-alt"></i></a>.
		<a href="" ng-click="back()">Back to overview</a>.
	</p>
	<div ng-click="toggleDescription()"
			class="game-description {{ expandDescription ? 'expanded' : '' }}">
		<img ng-if="game.image_url"
			ng-src="{{ game.image_url }}"
			class="img-fluid game-img d-block float-md-right mb-3 mx-auto ml-md-3"
			alt="{{ game.name }}"
			title="{{ game.name }}" />
		<!-- TODO artist as caption -->
		<div class="game-info-box mb-3">
			<player-count ng-if="game" game="game"></player-count>
			<span ng-if="game.time_string"
					class="game-time">
				<i class="fas fa-clock"></i> {{ game.time_string }}
			</span>
			<span ng-if="game.min_age_rec || game.min_age"
					class="game-age">
				<i class="fas fa-child"></i> {{ game.min_age_rec || game.min_age | number:0 }}+ years
			</span>
			<span ng-if="game.complexity_string"
					class="game-complexity"
					data-toggle="tooltip"
					title="{{ game.complexity | number:1 }} / 5">
				<i class="fas fa-balance-scale"></i> {{ game.complexity_string }}
			</span>
			<span ng-if="game.cooperative_string"
					class="game-cooperative">
				<i class="fas fa-handshake"></i> {{ game.cooperative_string }}
			</span>
		</div>
		<p ng-repeat="description in game.description_array"
				class="{{ $first ? 'lead' : '' }}">
			{{ description }}
		</p>
	</div>
	<section ng-if="!noImplementations">
		<h2>
			Implementations
		</h2>
		<div class="row">
			<game-square ng-repeat="game in implementations"
					game="game"
					ng-click="open(game.bgg_id)"
					class="col-xl-2 col-md-3 col-sm-4 col-6 game-small"></game-square>
		</div>
	</section>
</section>
