<!DOCTYPE html>
<article xmlns="http://www.w3.org/1999/xhtml"
		id="rg-donate">
	<section>
		<h1>Donate to <span class="recommend-games">Recommend.Games</span></h1>
		<p class="lead">
			<span class="recommend-games">Recommend.Games</span> and the <a href="https://blog.recommend.games/">Analysis Paralysis blog</a> always have been and always will be 100% open source and free from paywalls, ads or tracking. If you find some value in what we're doing and your finances allow you to support us with server costs etc, you can do so by donating through any of the links below (Wise and PayPal allow us to keep most of your donation):
		</p>
		<ul>
			<li><a href="https://wise.com/pay/me/markuss1" target="_blank">💱 Wise</a></li>
			<li><a href="https://paypal.me/mschepke" target="_blank"><i class="fab fa-paypal"></i> PayPal</a></li>
			<li><a href="https://patreon.com/mshepherd" target="_blank"><i class="fab fa-patreon"></i> Patreon</a></li>
			<li><a href="https://ko-fi.com/mshepherd" target="_blank">☕ Ko-fi.com</a></li>
			<li><a href="https://liberapay.com/mshepherd/" target="_blank">💸 Liberapay</a></li>
			<li><a href="https://github.com/sponsors/MarkusShepherd" target="_blank"><i class="fab fa-github"></i> GitHub sponsors</a></li>
		</ul>
		<p>
			If you'd rather donate to a charity of your choice, why not give some money to an organisation that promotes a more diverse, sustainable and loving world on our behalf?
		</p>
		<p>
			Finally, you can always support us for free by sharing our content, giving feedback or contributing to our projects on <a href="https://gitlab.com/recommend.games/">GitLab</a>.
		</p>
		<p>
			<strong>Thank you for your support!</strong> 🙏
		</p>
	</section>
</article>
