<!DOCTYPE html>
<article xmlns="http://www.w3.org/1999/xhtml"
		id="rg-faq">
	<h1>FAQ</h1>
	<p class="lead">
		Answers to frequently asked questions. Didn't find what you were looking for?
		<a href="mailto:questions@recommend.games">Send us an email</a> or post into our <a href="https://boardgamegeek.com/guild/3611" target="_blank">BoardGameGeek guild <i class="fas fa-external-link-alt"></i></a>!
	</p>
	<section id="toc" class="mb-3">
		<h2>Contents</h2>
		<div class="list-group">
			<a ng-repeat="question in questions"
					ng-click="scroll(question.id)"
					href=""
					class="list-group-item list-group-item-action">
				{{ question.question }}
			</a>
		</div>
	</section>
	<section ng-repeat="question in questions"
			id="{{ question.id }}">
		<h2 class="faq-headline">
			{{ question.question }}
			<a ng-href="/#{{ path }}#{{ question.id }}" class="faq-anchor">
				<i class="fas fa-link"></i>
			</a>
		</h2>
		<p ng-repeat="paragraph in question.answer_paragraphs"
			ng-bind-html="paragraph"></p>
	</section>

	<disqus ng-if="disqusId &amp;&amp; disqusUrl"
		identifier="disqusId"
		url="disqusUrl"></disqus>
</article>
