<!DOCTYPE html>
<div xmlns="http://www.w3.org/1999/xhtml"
		class="game {{ addClass }}"
		ng-style="bgImage(game.image_url[0])">
	<div>
		<i ng-if="thumb"
			class="{{thumb === 'solid' ? 'fas' : 'far'}} fa-thumbs-up game-thumb p-2"></i>
		<span ng-if="showRanking &amp;&amp; game.rec_rank"
				class="game-rank badge badge-pill badge-success">
			#{{ game.rec_rank }}
			<small ng-if="game.rec_rating"
					class="text-white-50">
				({{ game.rec_rating | number:1 }})
			</small>
			<span ng-if="game.rec_stars"
					class="game-stars">
				<br />
				<i ng-repeat="starClass in game.star_classes track by $index"
					class="{{ starClass }}"></i>
			</span>
		</span>
		<h2 class="game-title">
			<span ng-if="game.name_short"
					data-toggle="tooltip"
					title="{{ game.name }}">
				{{ game.name_short }}
			</span>
			<span ng-if="!game.name_short">{{ game.name }}</span>
			<small ng-if="game.year"
					class="text-secondary">
				({{ game.year }})
			</small>
		</h2>
	</div>
</div>
