<!DOCTYPE html>
<section xmlns="http://www.w3.org/1999/xhtml"
		id="games-list">
	<h1 class="display-1 text-nowrap">
		Ludoj
		<sup class="beta text-muted">beta</sup>
	</h1>
	<p class="lead">
		Top-rated board games as evaluated by our <a href="https://gitlab.com/mshepherd/ludoj-recommender" target="_blank">recommendation engine <i class="fas fa-external-link-alt"></i></a>. Read more <a href="#/about">about Ludoj</a>.
	</p>

	<form ng-submit="updateParams()"
			id="fetch-game-form"
			name="fetch-game-form"
			novalidate="novalidate"
			role="form"
			class="form">
		<label for="user"
				id="bgg-user-label"
				class="{{ user ? 'text-success' : 'text-muted' }} mb-0">
			Personal recommendations for:
		</label>
		<div class="input-group mb-3">
			<input type="text"
				id="user"
				name="user"
				ng-model="user"
				ng-required="true"
				class="form-control"
				placeholder="BoardGameGeek user name"
				aria-describedby="bgg-user-label" />
			<div class="input-group-append">
				<button type="submit"
						ng-disabled="!user"
						class="btn btn-primary">
					GO!
				</button>
			</div>
		</div>
	</form>

	<form ng-submit="updateParams()"
			id="search-game-form"
			name="search-game-form"
			novalidate="novalidate"
			role="form"
			class="form">
		<div class="form-row align-items-end">
			<div class="col-xl-9 col-lg-8 col-md-7 col-sm-6 mb-3">
				<label for="search"
						id="search-label"
						class="{{ search ? 'text-success' : 'text-muted' }} mb-0">
					Game name:
				</label>
				<div class="input-group">
					<input type="text"
						id="search"
						name="search"
						ng-model="search"
						ng-required="true"
						class="form-control"
						placeholder="e.g., &quot;catan&quot;"
						aria-describedby="search-label" />
					<div class="input-group-append">
						<button type="submit"
								ng-disabled="!search"
								class="btn btn-primary">
							Search
						</button>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mb-3 text-right">
				<div class="btn-group btn-group-sm" role="group" aria-label="Filters">
					<button type="button"
							class="btn btn-outline-secondary"
							ng-click="clearFilters()">
						Clear filters
					</button>
					<button type="button"
							class="btn btn-outline-primary"
							ng-click="renderSlider()"
							data-toggle="collapse"
							data-target="#filter-game-form"
							aria-expanded="false"
							aria-controls="filter-game-form">
						<span ng-if="filtersActive()"
								class="badge badge-primary">
							{{ filtersActive() }}
						</span>
						Advanced
						<i class="far fa-plus-square" id="filter-toggle-icon"></i>
					</button>
				</div>
			</div>
		</div>
	</form>

	<form ng-submit="updateParams()"
			id="filter-game-form"
			name="filter-game-form"
			novalidate="novalidate"
			role="form"
			class="collapse form">
		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by number of players">
			<div class="col-xl-4 col-lg-5 col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-count-enable"
									name="filter-count-enable"
									ng-model="count.enabled" />
								<span class="slider {{ count.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
						</div>
						<div class="input-group-text">
							<label for="filter-count-enable"
									class="form-check-label form-label-game {{ count.enabled ? 'text-success' : 'text-muted' }}">
								Player count:
								<strong class="text-monospace {{ count.enabled ? '' : 'invisible' }}">
									{{ pad(count.value, 2, '&nbsp;') }}
								</strong>
							</label>
						</div>
					</div>
					<select name="filter-count-type"
							ng-disabled="!count.enabled"
							ng-model="count.type"
							class="custom-select"
							id="filter-count-type">
						<option value="box">box</option>
						<option value="recommended" selected="selected">recommended</option>
						<option value="best">best</option>
					</select>
				</div>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-count"
					name="filter-count"
					ng-disabled="!count.enabled"
					rz-slider-model="count.value"
					rz-slider-options="count.options"></rzslider>
			</div>
		</div>

		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by the time a game takes">
			<div class="col-xl-4 col-lg-5 col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-time-enable"
									name="filter-time-enable"
									ng-model="time.enabled" />
								<span class="slider {{ time.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
						</div>
						<div class="input-group-text">
							<label for="filter-time-enable"
									class="form-check-label form-label-game {{ time.enabled ? 'text-success' : 'text-muted' }}">
								Play time:
								<span class="{{ time.enabled ? '' : 'invisible' }}">
									<strong class="text-monospace">{{ pad(time.value, 3, '&nbsp;') }}</strong> minutes
								</span>
							</label>
						</div>
					</div>
					<select name="filter-time-type"
							ng-disabled="!time.enabled"
							ng-model="time.type"
							class="custom-select"
							id="filter-time-type">
						<option value="min">min</option>
						<option value="max" selected="selected">max</option>
					</select>
				</div>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-time"
					name="filter-time"
					ng-disabled="!time.enabled"
					rz-slider-model="time.value"
					rz-slider-options="time.options"></rzslider>
			</div>
		</div>

		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by minimum player age">
			<div class="col-xl-4 col-lg-5 col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-age-enable"
									name="filter-age-enable"
									ng-model="age.enabled" />
								<span class="slider {{ age.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
						</div>
						<div class="input-group-text">
							<label for="filter-age-enable"
									class="form-check-label form-label-game {{ age.enabled ? 'text-success' : 'text-muted' }}">
								Player age:
								<span class="{{ age.enabled ? '' : 'invisible' }}">
									<strong class="text-monospace">{{ pad(age.value, 2, '&nbsp;') }}</strong> years
								</span>
							</label>
						</div>
					</div>
					<select name="filter-age-type"
							ng-disabled="!age.enabled"
							ng-model="age.type"
							class="custom-select"
							id="filter-age-type">
						<option value="box">box</option>
						<option value="recommended" selected="selected">recommended</option>
					</select>
				</div>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-age"
					name="filter-age"
					ng-disabled="!age.enabled"
					rz-slider-model="age.value"
					rz-slider-options="age.options"></rzslider>
			</div>
		</div>

		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by game complexity, from light to heavy">
			<div class="col-xl-4 col-lg-5 col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-complexity-enable"
									name="filter-complexity-enable"
									ng-model="complexity.enabled" />
								<span class="slider {{ complexity.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
						</div>
					</div>
					<div class="input-group-append">
						<div class="input-group-text">
							<label for="filter-complexity-enable"
									class="form-check-label form-label-game {{ complexity.enabled ? 'text-success' : 'text-muted' }}">
								Complexity:
								<strong class="text-monospace {{ complexity.enabled ? '' : 'invisible' }}">
									{{ complexity.min | number:1 }}&mdash;{{ complexity.max | number:1 }}
								</strong>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-complexity"
					name="filter-complexity"
					ng-disabled="!complexity.enabled"
					rz-slider-model="complexity.min"
					rz-slider-high="complexity.max"
					rz-slider-options="complexity.options"></rzslider>
			</div>
		</div>

		<div class="form-row mb-3"
				data-toggle="tooltip"
				title="Filter by publication year">
			<div class="col-xl-4 col-lg-5 col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<label class="switch mb-0">
								<input type="checkbox"
									id="filter-year-enable"
									name="filter-year-enable"
									ng-model="year.enabled" />
								<span class="slider {{ year.enabled ? 'bg-success' : 'bg-secondary' }}"></span>
							</label>
						</div>
					</div>
					<div class="input-group-append">
						<div class="input-group-text">
							<label for="filter-year-enable"
									class="form-check-label form-label-game {{ year.enabled ? 'text-success' : 'text-muted' }}">
								Year:
								<span class="{{ year.enabled ? '' : 'invisible' }}">
									<strong class="text-monospace">{{ year.min == year.options.floor ? '&le;' : '&nbsp;' }}{{ year.min }}</strong>
									to
									<strong class="text-monospace">{{ year.max == year.options.ceil ? '&ge;' : '&nbsp;' }}{{ year.max }}</strong>
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<rzslider id="filter-year"
					name="filter-year"
					ng-disabled="!year.enabled"
					rz-slider-model="year.min"
					rz-slider-high="year.max"
					rz-slider-options="year.options"></rzslider>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3"
					data-toggle="tooltip"
					title="Display only cooperative, only competitive, or all games">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<label for="filter-cooperative"
									class="form-check-label {{ cooperative ? 'text-success' : 'text-muted' }}">
								Cooperative:
							</label>
						</div>
					</div>
					<select name="filter-cooperative"
							ng-model="cooperative"
							class="custom-select"
							id="filter-cooperative">
						<option selected="selected" ng-value="null">[all]</option>
						<option value="True">only cooperative</option>
						<option value="False">only competitive</option>
					</select>
				</div>
			</div>
			<div class="col-md-3 col-6 mb-3">
				<button type="button"
						ng-click="clearFilters()"
						class="btn btn-outline-secondary btn-block">
					Clear
				</button>
			</div>
			<div class="col-md-3 col-6 mb-3">
				<button type="submit"
						class="btn btn-primary btn-block">
					Filter
				</button>
			</div>
		</div>
	</form>

	<h2 ng-if="currUser">
		Recommended games for <strong>
			<a ng-href="https://boardgamegeek.com/user/{{ currUser }}" target="_blank">{{ currUser }}</a>
		</strong>
	</h2>
	<p ng-if="currUser">
		See recommendations <a href="" ng-click="clearUser()">for all users</a> instead
	</p>

	<div ng-if="empty"
			class="alert alert-warning"
			role="alert">
		<h4 class="alert-heading">No games found</h4>
		<p class="mb-0">
			No games could be loaded.
			<a href="" class="alert-link" ng-click="clearFilters()">Try without filters instead</a>...
		</p>
	</div>

	<div class="row">
		<game-square ng-repeat="game in games"
			game="game"
			class="col-lg-3 col-md-4 col-sm-6"></game-square>
		<div ng-if="nextPage"
				ng-click="fetchGames(nextPage)"
				class="col-lg-3 col-md-4 col-sm-6">
			<div class="game game-more">
				<div>
					<h2 class="game-title">
						More...
						<small ng-if="total"
								class="text-secondary">
							({{ total }} games in total)
						</small>
					</h2>
				</div>
			</div>
		</div>
	</div>

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"url": "https://ludoj.herokuapp.com/",
			"potentialAction": [{
				"@type": "SearchAction",
				"target": "https://ludoj.herokuapp.com/#/?search={search_term_string}",
				"query-input": "required name=search_term_string"
			}]
		}
	</script>
</section>
