<!DOCTYPE html>
<section xmlns="http://www.w3.org/1999/xhtml"
		id="game-news">
	<h1 class="display-1 text-nowrap">
		News
		<sup class="beta text-muted">βeta</sup>
	</h1>
	<p class="lead">
		News about board games, aggregated for you from the top sources of the hobby.
	</p>
	<div class="row">
		<a ng-repeat="article in articles"
			article-square=""
			article="article"
			ng-href="{{ article.url_mobile || article.url_amp || article.url_canonical }}"
			target="_blank"
			class="col-lg-4 col-md-6"></a>
	</div>
	<div ng-if="nextPage"
			ng-click="fetchNews(nextPage)"
			class="col-lg-4 col-md-6">
		<div class="game game-more">
			<div>
				<h2 class="game-title">
					More...
					<small ng-if="total"
							class="text-secondary">
						({{ total }} games in total)
					</small>
				</h2>
			</div>
		</div>
	</div>
</section>
