<!DOCTYPE html>
<section xmlns="http://www.w3.org/1999/xhtml"
		id="rg-news">
	<h1>News</h1>

	<p class="lead">
		News about board games, aggregated for you from the top sources of the hobby.
	</p>

	<div ng-if="empty"
			class="alert alert-warning"
			role="alert">
		<h4 class="alert-heading">No news found</h4>
		<p class="mb-0">
			Unable to load any news. 😢 Please try again later…
		</p>
	</div>

	<div class="row">
		<a ng-repeat="article in articles"
			article-square=""
			article="article"
			ng-href="{{ article.url_mobile || article.url_amp || article.url_canonical }}"
			target="_blank"
			class="col-lg-4 col-md-6"></a>
		<div ng-if="nextPage"
				ng-click="fetchNews(nextPage)"
				class="col-lg-4 col-md-6">
			<div class="article article-more">
				<div class="p-2">
					<h2 class="article-title">
						More...
						<small ng-if="total"
								class="text-secondary">
							({{ total }} articles in total)
						</small>
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>
