<!DOCTYPE html>
<section xmlns="http://www.w3.org/1999/xhtml"
		id="ludoj-stats">
	<h1>Statistics</h1>
	<p class="lead">
		TODO.
	</p>
	<div class="card mb-3">
		<div class="card-header">
			<h4>Top Designers</h4>
			<nav class="nav nav-tabs nav-justified card-header-tabs">
				<a id="designers-rg-tab"
						ng-disabled="!data.rg_top.designer"
						data-toggle="tab"
						data-target="#designers-rg"
						href=""
						role="tab"
						aria-controls="designers-rg"
						aria-selected="true"
						class="nav-item nav-link active">
					<abbr title="Recommend.Games">R.G</abbr> top 100
				</a>
				<a id="designers-bgg-tab"
						data-toggle="tab"
						data-target="#designers-bgg"
						href=""
						role="tab"
						aria-controls="designers-bgg"
						aria-selected="false"
						class="nav-item nav-link">
					<abbr title="BoardGameGeek">BGG</abbr> top 100
				</a>
			</nav>
		</div>
		<div class="card-body tab-content">
			<div id="designers-rg"
					class="tab-pane fade show active"
					role="tabpanel"
					aria-labelledby="designers-rg-tab">
				<ol class="mb-0">
					<li ng-repeat="designer in data.rg_top.designer"
							value="{{ designer.rank }}">
						<a ng-href="https://boardgamegeek.com/boardgamedesigner/{{ designer.bgg_id }}"
								target="_blank">
							<strong>
								{{ designer.name }}
								<i class="fas fa-external-link-alt"></i>
							</strong>
						</a>
						({{ designer.count }} game{{ designer.count === 1 ? '' : 's' }})
					</li>
				</ol>
			</div>
			<div id="designers-bgg"
					class="tab-pane fade"
					role="tabpanel"
					aria-labelledby="designers-bgg-tab">
				<ol class="mb-0">
					<li ng-repeat="designer in data.bgg_top.designer"
							value="{{ designer.rank }}">
						<a ng-href="https://boardgamegeek.com/boardgamedesigner/{{ designer.bgg_id }}"
								target="_blank">
							<strong>
								{{ designer.name }}
								<i class="fas fa-external-link-alt"></i>
							</strong>
						</a>
						({{ designer.count }} game{{ designer.count === 1 ? '' : 's' }})
					</li>
				</ol>
			</div>
		</div>
	</div>
</section>
