.game {
    background-color: #0C6;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    padding-bottom: 100%;
    position: relative;
}

.game-more {
    background-color: #C06;
}

.game > div {
    background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, .2),
        black);
    border-radius: 5px;
    height: 100%;
    position: absolute;
    width: 100%;
}

.game-rank {
    font-size: 1.2rem;
    line-height: .8;
    position: absolute;
    right: 10px;
    top: 10px;
}

.game-small .game-rank {
    font-size: .9rem;
}

.game-stars {
    font-size: .7rem;
}

.game-title {
    bottom: 0;
    color: white;
    font-size: 1.2rem;
    padding: 0 10px;
    position: absolute;
    text-shadow: 0 0 3px black;
}

.game-small .game-title {
    font-size: 1rem;
}

.game-img {
    max-height: 250px;
}

.game-description {
    max-height: 400px;
    overflow: hidden;
    position: relative;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.expanded {
    max-height: 9999px;
}

.game-description::after {
    background-image: linear-gradient(transparent, white);
    bottom: 0;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    width: 100%;
}

.expanded::after {
    height: 0;
}

.btn-more {
    font-size: 1.8rem;
    left: 23%;
    position: absolute;
    top: 40%;
}

.nav-link-icon {
    white-space: nowrap;
}

.bgg-icon {
    height: 18px;
    vertical-align: text-bottom;
    width: auto;
    /*filter: contrast(100) grayscale(100) invert(1);*/
    /*opacity: .5;*/
}

.player-count-container {
    display: inline;
    font-size: 75%;
    vertical-align: super;
}

.player-count {
    height: 2rem;
}

.player-count-not,
.player-count-box {
    opacity: .333;
}

.player-count-recommended {
    opacity: .666;
}

/*.player-count-recommended,
.player-count-best {
    filter: drop-shadow(0px 0px 2px);
}*/

.game-age,
.game-time {
    font-size: 150%;
    white-space: nowrap;
}

.text-monospace {
    font-size: smaller;
}

.rzslider {
    margin-top: 15px;
}

.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 35px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.slider {
    background-color: #ccc;
    border-radius: 10px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    background-color: white;
    border-radius: 50%;
    bottom: 1px;
    content: "";
    height: 18px;
    left: 1px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    width: 18px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.form-label-game {
    cursor: pointer;
}

/*! fork-me-on-github v2.1.0 | (c) 2014, 2014 | MIT License | https://github.com/edull24/fork-me-on-github */
.fork-me-wrapper {
    height: 170px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 170px;
    z-index: 9999;
}

.fork-me {
    background-color: black;
    background-image: url("/assets/fork.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: .25rem;
    height: 42px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    white-space: nowrap;
    width: 42px;
}

@media only screen and (min-width: 576px) {
    .fork-me {
        background-color: black;
        background-image: none;
        border-radius: 0;
        box-shadow: 0 0 10px 0 #888888;
        height: auto;
        padding: 2px 0;
        right: -55px;
        top: 40px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: auto;
    }
}

.fork-me-link,
.fork-me-link:link,
.fork-me-link:visited,
.fork-me-link:hover,
.fork-me-link:focus,
.fork-me-link:active {
    border: none;
    display: block;
    height: 100%;
    text-decoration: none;
}

@media only screen and (min-width: 576px) {
    .fork-me-link,
    .fork-me-link:link,
    .fork-me-link:visited,
    .fork-me-link:hover,
    .fork-me-link:focus,
    .fork-me-link:active {
        border: 1px dotted white;
        color: white;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        padding: 10px 50px;
        text-align: center;
        text-shadow: 0 0 5px #444444;
    }
}

.fork-me-link:focus {
    text-decoration: underline;
}

.fork-me-text {
    display: none;
}

@media only screen and (min-width: 576px) {
    .fork-me-text {
        display: inline;
    }
}
