<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	lang="en"
	xml:lang="en"
	ng-app="rgApp">
<head>
	<title>Recommend.Games – board game recommendations</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="Content-Security-Policy"
		content="default-src *; style-src * 'self' 'unsafe-inline'; script-src * 'self' 'unsafe-inline' 'unsafe-eval'; media-src *; img-src * 'self' data:; font-src * data:;" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous" />
	<!-- Angular CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.css"
		integrity="sha384-qjI3PkYRZdiYRDcf/GASBsGzdr5vzdyujEaW4WPDfUZJjyV3a9c3bsLIuLwrfv0o"
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.7.0/rzslider.min.css"
		integrity="sha256-Sm6x8tzFHmqJZ5Q0rls+aQx2hNQi5DySaqaCrmiG57U="
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css"
		integrity="sha256-/NMq+k2qSZdNQyW3F4N1PabzdpezD+anpuKyhQQC530="
		crossorigin="anonymous" />
	<!-- Fontawesome -->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
		integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M"
		crossorigin="anonymous">
	<!-- Chart.js CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
		integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
		crossorigin="anonymous" />
	<!-- Daterange CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css"
		integrity="sha256-VVbO1uqtov1mU6f9qu/q+MfDmrqTfoba0rAE07szS20="
		crossorigin="anonymous" />
	<!-- Custom -->
	<link rel="stylesheet" href="/app.css" />

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
		integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA="
		crossorigin="anonymous"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<!-- Lodash -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"
		integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ="
		crossorigin="anonymous"></script>
	<!-- Moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
		integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo="
		crossorigin="anonymous"></script>
	<!-- Angular JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"
		integrity="sha384-HlxBLYVP7Yf7mvmXr2/lj8pQw1fe9SZR2f6GUMKZcH7HR2rWIzY0FB4g0Jg+E5Xn"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.min.js"
		integrity="sha384-xWUbmOMUJb8KioI0yHwdUKJ0EiZk0mW6vRN8IHQ1xdwYkWaoyFZzwlsMOy/qGLwh"
		crossorigin="anonymous"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"
		integrity="sha384-rgO1HJbSN6NFwclJALnZM6+2ZvMjz8EItj9j73sAdLhq4d+1fzLdWhAr764ZQSjS"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.js"
		integrity="sha384-NlkgZgFoplPHXuhMMz46HGfU+maGsqx5sJBxsVv6Fnn6riYDi6VhnRz0qLzmBr53"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.7.0/rzslider.min.js"
		integrity="sha256-fwM9OLO+1iRTJf/THDksogy/oyUzRWkBxfo9bx0Jgnc="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.min.js"
		integrity="sha256-2UdaKsr7UnWH/YqxTw6WxkEvB0nO5XUeTBwq3pur0Q4="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"
		integrity="sha384-wLW31FrRIuEoFenPj7ickIcZC840wgBgwChrUIt1zeNZIyQMg3pWOqPZiwfi9Rwa"
		crossorigin="anonymous"></script>
	<!-- Chart.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
		integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
		crossorigin="anonymous"></script>
	<!-- Daterange -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"
		integrity="sha256-zI6VVO07NPmVW11q3RQE42YbRmJIkkunrcQ9LEYxJsQ="
		crossorigin="anonymous"></script>
	<!-- Custom -->
	<script src="/js/app.js"></script>
	<script src="/js/services.js"></script>
	<script src="/js/directives.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/list.js"></script>
	<script src="/js/detail.js"></script>
	<script src="/js/history.js"></script>
	<script src="/js/charts.js"></script>
	<script src="/js/stats.js"></script>
	<script src="/js/news.js"></script>
	<script src="/js/about.js"></script>
	<script src="/js/faq.js"></script>
	<script src="/js/bga.js"></script>

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
	<link rel="manifest" href="/assets/site.webmanifest" />
	<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="msapplication-TileImage" content="/assets/mstile-144x144.png" />
	<meta name="theme-color" content="#ffffff" />

	<meta name="description"
		content="Top-rated board games as evaluated by our recommendation engine. Find the best board and card games with personal recommendations for your taste!" />
	<meta name="keywords"
		content="board game recommendations, games, board games, card games, party games, tabletop games, social games, recommendations, personal recommendations, BoardGameGeek, games list, description, details, filters, player count, best games, top games, ranking, recommended games, play, what games to play, buy, what game to buy" />
	<meta name="author" content="Markus Shepherd" />

	<meta property="og:site_name" content="Recommend.Games" />
	<meta property="og:title" content="Recommend.Games – board game recommendations" />
	<meta property="og:description"
		content="Top-rated board games as evaluated by our recommendation engine. Find the best board and card games with personal recommendations for your taste!" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://recommend.games/assets/android-chrome-512x512.png" />
	<meta property="og:locale" content="en_US" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@recommend_games" />
	<meta name="twitter:creator" content="@MarkusRShepherd" />
	<meta name="twitter:title" content="Recommend.Games – board game recommendations" />
	<meta name="twitter:description" content="Top-rated board games as evaluated by our recommendation engine. Find the best board and card games with personal recommendations for your taste!" />
	<meta name="twitter:image" content="https://recommend.games/assets/android-chrome-512x512.png" />

	<meta name="google-site-verification"
		content="rodsci4ED8Ua3iJjzcjMXslFo5CxGchI4Q6XybBq9Vw" />
	<meta name="google-site-verification"
		content="sIl0mr8tw_mKk-sb3B0kM8wkj2z_3celGSpnQNvy-V0" />
	<meta name="msvalidate.01"
		content="0E646988C5FC185CC8F900703549D905" />
	<meta name="yandex-verification"
		content="239440d2dc89b890" />
	<meta name="yandex-verification"
		content="65e8dd66ce33e127" />
	<meta name="yandex-verification"
		content="695107127b1e6e89" />
	<meta name="yandex-verification"
		content="d02c00610b8b2522" />
	<meta name="yandex-verification"
		content="e1591ae567e3e236" />
</head>

<body>
	<nav ng-controller="NavController"
			class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container">
			<a href="/#/"
					class="navbar-brand text-nowrap">
				<img src="/assets/icon_white.svg"
					width="30"
					height="30"
					class="d-inline-block align-top"
					alt="Recommend.Games"
					loading="lazy" />
				<span class="recommend-games">Recommend.Games</span>
			</a>
			<button type="button"
					data-toggle="collapse"
					data-target="#navbarItems"
					aria-controls="navbarItems"
					aria-expanded="false"
					aria-label="Toggle navigation"
					class="navbar-toggler">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarItems">
				<ul class="navbar-nav">
					<li class="nav-item {{ path === '/' ? 'active' : '' }} text-nowrap">
						<a href="/#/?filters"
								class="nav-link">
							Recommendations
						</a>
					</li>
					<li class="nav-item text-nowrap">
						<a href="https://blog.recommend.games/"
								class="nav-link">
							Blog
						</a>
					</li>
					<li class="nav-item {{ path === '/news' ? 'active' : '' }} text-nowrap">
						<a href="/#/news"
								class="nav-link">
							News
							<span ng-if="newsCount"
									class="badge badge-light">
								{{ newsCount &gt; 9 ? '9+' : newsCount }}
							</span>
						</a>
					</li>
					<li class="nav-item {{ path === '/stats' ? 'active' : '' }} text-nowrap">
						<a href="/#/stats"
								class="nav-link">
							Stats
						</a>
					</li>
					<li class="nav-item {{ path === '/about' ? 'active' : '' }} text-nowrap">
						<a href="/#/about"
								class="nav-link">
							About
						</a>
					</li>
					<li class="nav-item {{ path === '/faq' ? 'active' : '' }} text-nowrap">
						<a href="/#/faq"
								class="nav-link">
							FAQ
						</a>
					</li>
					<li class="nav-item text-nowrap">
						<a href="https://gitlab.com/recommend.games"
								target="_blank"
								class="nav-link">
							GitLab <i class="fas fa-external-link-alt"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div ng-view=""
		autoscroll=""
		class="container"></div>

	<div ng-if="angularError" class="container angular-error">
		<h1 class="display-1 recommend-games">Recommend.Games</h1>
		<div class="alert alert-danger" role="alert">
			<h2 class="alert-heading">Error loading the app</h2>
			<p class="lead">Unfortunately, the app could not be loaded properly.</p>
			<p>This site requires JavaScript. If you have disabled it, please enable JavaScript from your settings and try again.</p>
			<p>If you have an Adblocker installed, consider disabling it for this site and try again. There are no ads on this site, but Adblockers still sometimes prevent JavaScript from working.</p>
			<p class="mb-0">If the problem presists, please <a href="https://gitlab.com/recommend.games/recommend-games-server/issues/new" target="_blank" class="alert-link">raise a ticket</a> or <a href="mailto:feedback@recommend.games" class="alert-link">write an email</a> describing your problem and your browser, OS, etc.</p>
		</div>
	</div>

	<footer ng-controller="FooterController"
			class="navbar navbar-expand navbar-dark bg-dark pb-md-2 pb-5">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link"
							href="http://www.riemannhypothesis.info/"
							target="_blank">
						Markus Shepherd &copy; {{ yearNow }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#/about">
						<i class="fas fa-info-circle"></i> About
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
							href="https://boardgamegeek.com/guild/3611"
							target="_blank">
						<img src="/assets/bgg.svg"
							class="bgg-icon"
							alt="BoardGameGeek"
							title="BoardGameGeek" />
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
							href="https://twitter.com/recommend_games"
							target="_blank">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
							href="https://tabletop.social/@markus"
							rel="me"
							target="_blank">
						<i class="fab fa-mastodon"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
							href="https://gitlab.com/recommend.games"
							target="_blank">
						<i class="fab fa-gitlab"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
							href="https://github.com/recommend-games"
							target="_blank">
						<i class="fab fa-github"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
							href="mailto:contact@recommend.games">
						<i class="fas fa-at"></i>
					</a>
				</li>
				<li class="nav-item mr-3">
					<a class="nav-link"
							href="https://paypal.me/mschepke"
							target="_blank">
						<i class="fab fa-paypal"></i>
					</a>
				</li>
				<li ng-if="version" class="nav-item">
					<a class="nav-link disabled"
							href="#"
							tabindex="-1"
							aria-disabled="true">
						<small>Version {{ version }}</small>
					</a>
				</li>
			</ul>
		</div>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "Recommend.Games",
				"url": "https://recommend.games/",
				"email": "contact@recommend.games",
				"logo": "http://recommend.games/assets/android-chrome-512x512.png",
				"foundingDate": "2018",
				"founder": {
					"@type": "Person",
					"name": "Markus Shepherd",
					"url": "http://www.riemannhypothesis.info/",
					"email": "markus@recommend.games",
					"sameAs": [
						"https://boardgamegeek.com/user/Markus%20Shepherd",
						"https://tabletop.social/@markus",
						"https://twitter.com/MarkusRShepherd",
						"https://github.com/MarkusShepherd",
						"https://gitlab.com/mshepherd",
						"https://www.linkedin.com/in/markusschepke",
						"https://www.youtube.com/user/MarkusSchepke"
					]
				},
				"sameAs": [
					"https://boardgamegeek.com/guild/3611",
					"https://botsin.space/@recommend_games",
					"https://twitter.com/recommend_games",
					"https://gitlab.com/recommend.games",
					"https://github.com/recommend-games"
				]
			}
		</script>
	</footer>
</body>

</html>
