<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	lang="en"
	xml:lang="en"
	ng-app="ludojApp">
<head>
	<title>Ludoj</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="Content-Security-Policy"
		content="default-src *; style-src * 'self' 'unsafe-inline'; script-src * 'self' 'unsafe-inline' 'unsafe-eval'; media-src *; img-src * 'self' data:; font-src * data:;" />

	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous" />
	<link rel="stylesheet" href="app.css" />

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"
		integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps="
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script src="app.js" type="text/javascript"></script>

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="theme-color" content="#ffffff" />
</head>

<body ng-controller="GamesController">
	<div class="container">
		<h1 class="display-1">Ludoj</h1>
		<p class="lead">Top-rated games as evaluated by our <a href="https://gitlab.com/mshepherd/ludoj-recommender" target="_blank">recommendation engine</a>.</p>

		<div class="row">
			<div ng-repeat="game in games"
				ng-click="open(game.url)"
				class="col-lg-3 col-md-4 col-sm-6 col-12">
				<div class="game"
					ng-style="bgImage(game.image_url)">
					<div>
						<span ng-if="game.rec_rank"
							class="game-rank badge badge-pill badge-success">
							#{{ game.rec_rank }}
						</span>
						<h2 class="game-title">
							{{ game.name }}
							<small ng-if="game.year"
								class="text-muted">
								({{ game.year }})
							</small>
							<span ng-if="game.rec_rating"
								class="game-score badge badge-info">
								{{ game.rec_rating | number:1 }}
							</span>
						</h2>
					</div>
				</div>
			</div>
			<div ng-if="nextPage"
				ng-click="fetchGames(nextPage, true)"
				class="col-lg-3 col-md-4 col-sm-6 col-12">
				<div class="game game-more">
					<div>
						<h2 class="game-title">More...</h2>
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand"
				href="http://www.riemannhypothesis.info/"
				target="_blank">
				Markus Shepherd &copy; {{ now | date:'yyyy' }}
			</a>
		</div>
	</footer>
</body>

</html>
